%table
  %tr
    %td Date
    %td An E
    %td An N
    %td Active
    %td Observer
    %td Biotope
    %td DFW
    %td WBody
    %td WL
    %td Precipitation
    %td Temp
    %td &nbsp;
  - @rts.each_index do |i|
    %tr{:class => "#{i % 2 == 0 ? 'paarisarv' : 'odd'}"}
      %td
        %a{:href => "/track/#{@rts[i].id}"}
          = @rts[i].date.strftime(STRFTIME)
      %td= @rts[i].location_of_animal_E
      %td= @rts[i].location_of_animal_N
      %td= "#{@rts[i].activity ? 'Y' : 'N'}"
      %td= @rts[i].obser.observer
      %td= @rts[i].biotope.biotope
      %td= @rts[i].distance_from_water.distance_from_water
      %td= @rts[i].waterbody_type.waterbody_type
      %td= @rts[i].water_level.water_level
      %td= @rts[i].precipitation.precipitation
      %td= @rts[i].temperature.temperature
      %td
        %a{:href => "#", :id => "rtdel#{@rts[i].id}"}
          %strong X

:javascript                                                              
  ajax_hovno();
