!!! XML
!!!
%html
  %head
    = javascript_tag "RT_ROOT = '#{RAILS_ROOT + "/public"}'"
    = render 'layouts/head'
  %body
    .container
      %div{:id => "menu", :class => "span-20 round"}
        - unless request.request_uri =~ %r{triangulation}
          = render 'layouts/menu'
      %br.clear
      %br.clear
      %div{:id => "content", :class => "span-24 round"}
        = yield
